LES_SERIE_S1_IA_FS_ALGO_PYTHON_C/Série_de_TD-TP_1/build/
LES_SERIE_S1_IA_FS_ALGO_PYTHON_C/Série_de_TD-TP_2/build/
LES_SERIE_S1_IA_FS_ALGO_PYTHON_C/Série_de_TD-TP_3/build/
LES_SERIE_S1_IA_FS_ALGO_PYTHON_C/Série_de_TD-TP_4/build/